<html>
<head><center><h3>Ornament Verification Report </h3></center></head>
<style>

.orn1
{
  border: 1px outset blue;
  background-color: lightblue;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  
}

.orn2
{
  border: 1px outset blue;
  background-color: lightblue;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  
}

.orn3
{
  border: 1px outset blue;
  background-color: lightblue;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  
}
.orn4
{
  border: 1px outset blue;
  background-color: lightblue;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.orn5
{
  border: 1px outset blue;
  background-color: lightblue;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
</style>
<body>
    
<form action="{{ url_for("gfg")}}" method="post">

    <div class="orn1">
    <label for="ornament1">Ornament1</label>
    <input type="text" id="ornament1" name="ornament1" placeholder="enter b1/b2/b3/b4" required>
    &nbsp;

    <label for="lowercount">Lowercount</label>
    <input type="text" id="lowercount1" name="lowercount1" placeholder="enter lowercount" required>
    
    &nbsp;
    <label for="uppercount">Uppercount</label>
    <input type="text" id="uppercount1" name="uppercount1" placeholder="enter Uppercount" required>
    
    <br>
    <br>
    <label for="grossweightlowerrange">Gross Weight Lower Range</label>
    <input type="text" id="grossweightlowerrange1" name="grossweightlowerrange1" placeholder="enter lower range" required>
    &nbsp;&nbsp;
    <label for="grossweightupperrange">Gross Weight Upper Range</label>
    <input type="text" id="grossweightupperrange1" name="grossweightupperrange1" placeholder="enter upper range" required>
    
</div>
    
    <br>
    <div class="orn2">
    <label for="thirdornament">Ornament2</label>
    <input type="text" id="ornament2" name="ornament2" placeholder="enter b1/b2/b3/b4">
    &nbsp;
    <label for="lowercount">Lowercount2</label>
    <input type="text" id="lowercount2" name="lowercount2" placeholder="enter lowercount">
    
    &nbsp;
    <label for="uppercount">Uppercount2</label>
    <input type="text" id="uppercount2" name="uppercount2" placeholder="enter Uppercount">
    
    <br>
    <br>
    <label for="grossweightlowerrange">Gross Weight Lower Range2</label>
    <input type="text" id="grossweightlowerrange2" name="grossweightlowerrange2" placeholder="enter  lower range">
    &nbsp;
    &nbsp;
    <label for="grossweightupperrange">Gross Weight Upper Range2</label>
    <input type="text" id="grossweightupperrange2" name="grossweightupperrange2" placeholder="enter  upper range">
</div>
    <br>
    

<div class="orn3">
    <label for="thirdornament">Ornament3</label>
    <input type="text" id="ornament3" name="ornament3" placeholder="enter b1/b2/b3/b4">
    &nbsp;
    <label for="lowercount">Lowercount3</label>
    <input type="text" id="lowercount3" name="lowercount3" placeholder="enter lowercount">
    
    &nbsp;
    <label for="uppercount">Uppercount3</label>
    <input type="text" id="uppercount3" name="uppercount3" placeholder="enter Uppercount">
    
   <br>
   <br>
    
    <label for="grossweightlowerrange">Gross Weight Lower Range3</label>
    <input type="text" id="grossweightlowerrange3" name="grossweightlowerrange3" placeholder="enter  lower range">
    &nbsp;
    &nbsp;
    <label for="grossweightupperrange">Gross Weight Upper Range3</label>
    <input type="text" id="grossweightupperrange3" name="grossweightupperrange3" placeholder="enter  upper range">

</div>

<br>
<div class="orn4">
<label for="fourthornament_4">Ornament4</label>
<input type="text" id="fourthornament_4" name="fourthornament_4" placeholder="enter b1/b2/b3/b4">
&nbsp;
<label for="fourthornamentlowercount_4">Lowercount4</label>
<input type="text" id="fourthornamentlowercount_4" name="fourthornamentlowercount_4" placeholder="enter lowercount">

&nbsp;
<label for="fourthornamentuppercount_4">Uppercount4</label>
<input type="text" id="fourthornamentuppercount_4" name="fourthornamentuppercount_4" placeholder="enter Uppercount">

<br>
<br>
<label for="fourthornamentgrossweightlowerrange_4">Gross Weight Lower Range4</label>
<input type="text" id="fourthornamentgrossweightlowerrange_4" name="fourthornamentgrossweightlowerrange_4" placeholder="enter  lower range">

&nbsp;
&nbsp;
<label for="fourthornamentgrossweightupperrange_4">Gross Weight Upper Range4</label>
<input type="text" id="fourthornamentgrossweightupperrange_4" name="fourthornamentgrossweightupperrange_4" placeholder="enter  upper range">



</div>
<br>
<div class="orn5">
  <label for="fifthornament_5">Ornament5</label>
  <input type="text" id="fifthornament_5" name="fifthornament_5" placeholder="enter b1/b2/b3/b4">
  &nbsp;
  <label for="fifthornamentlowercount_5">Lowercount5</label>
  <input type="text" id="fifthornamentlowercount_5" name="fifthornamentlowercount_5" placeholder="enter lowercount">
  
  &nbsp;
  <label for="fifthornamentuppercount_5">Uppercount5</label>
  <input type="text" id="fifthornamentuppercount_5" name="fifthornamentuppercount_5" placeholder="enter Uppercount">
  <br>
  <br>
  
  
  <label for="fifthornamentgrossweightlowerrange_5">Gross Weight Lower Range5</label>
  <input type="text" id="fifthornamentgrossweightlowerrange_5" name="fifthornamentgrossweightlowerrange_5" placeholder="enter  lower range">
  &nbsp;
  &nbsp;
  <label for="fifthornamentgrossweightupperrange_5">Gross Weight Upper Range5</label>
  <input type="text" id="fifthornamentgrossweightupperrange_5" name="fifthornamentgrossweightupperrange_5" placeholder="enter  upper range">
</div>





    <br>
    
    <div class="submitbutton">
    <button type="submit">Execute</button></div>
    </form>
</body>
    </html>
    
    <!--
    <b>  Lower count </b>
    <input type="text" id="lowercount" value="" size="12" maxlength="4">
    <p>
    <b>  Upper count </b>
    <input type="text" id="Uppercount" value="" size="12" maxlength="4">
    <p>
    <b>  Gross Weight Lower Range </b>
    <input type="text" id="gwlower" value="" size="12" maxlength="4">
    <p>
    <b>  Gross Weight Upper Range </b>
    <input type="text" id="gwupper" value="" size="12" maxlength="4">
    <p>
    <input type="submit" value="Submit"> -->